# general temporary or volatile config files.
/cfg/bash/bash_history
/cfg/vim/view
/cfg/vim/viminfo
/cfg/vim/.netrwhist
/cfg/tint2/snap.jpg
/cfg/tint2/tintwizard.conf
/cfg/tmux/resurrect/
/cfg/ipython/profile_default/db/
/cfg/ipython/profile_default/history.sqlite
.*.swp

# local weechat installation.
/bin/weechat
/bin/weechat.d/

# Full remove of config folders/programs from cfg/.
# disclaimer: I am trying to use ~/.config as a symlink to cfg. The good thing
# is that we can easily see and save config changes in all my favorite
# programs. But because all programs write to there (or is it writes to ~/ we
# are symlinking them to ~/.config/) we ended up with a lot of useless and
# unwanted files. So this list bellow may get a little long.
/cfg/ImageMagick/
/cfg/adobe/
/cfg/blender/
/cfg/chromium/
/cfg/dbus/
/cfg/dconf/
/cfg/gimp-2.8/
/cfg/gnome/
/cfg/google-chrome/
/cfg/inkscape/
/cfg/libreoffice/
/cfg/macromedia/
/cfg/menus/
/cfg/pki/
/cfg/pulse/
/cfg/thumbnails/
/cfg/transmission/
/cfg/VirtualBox/
/cfg/Trolltech.conf
# Gnome base (GTK?) programs
/cfg/update-notifier/
# Ubuntu MATE desktop programs
/cfg/atril/
/cfg/caja/
/cfg/mate/
/cfg/plank/
/cfg/pluma/
/cfg/synapse/
/cfg/tilda/
/cfg/galculator/
## work
