# Study of how to make a install config file.
# the intention is to make something easy to modify and parse so we can easyly
# install what we got. other alternative is to put in the filenames how they
# can be installed.
#
# Evaluate the use of GNU stow for this:
# https://www.gnu.org/software/stow/
#
# Evaluate this similar program, also in bash:
# (ICUS - Installation and configuration of usual softwares)
# https://github.com/BKcore/ICUS
#
# <act>  <opt>  <check>  <src>  <dest>
# ------------------------------------------------------------------------------

mkdir   077   y  --  ~/bin
mkdir   077   y  --  ~/cfg

ln  --  y  /cfg  ~/cfg
ln  --  y  /bin  ~/bin

cp      077   y     /cfg/vim/vimrc   ~/cfg/vim/vimrc
ln      --    y     ~/cfg/vim/vimrc  ~/.vimrc

ln      --    y     /bin/smear.s             /bin/smear.sh
ln      --    y     /bin/movie-length.sh     /bin/movie-length.sh
ln      --    y     /bin/sshcmd.sh           /bin/sshcmd.sh
ln      --    y     /bin/change-hostname.sh  /bin/change-hostname.sh
ln      --    y     /bin/mplayer-r.sh        /bin/mplayer-r.sh
ln      --    y     /bin/urxvtc-color.sh     /bin/urxvtc-color.sh
ln      --    y     /bin/date-menu.sh        /bin/date-menu.sh
ln      --    y     /bin/term-palette.sh     /bin/term-palette.sh
ln      --    y     /bin/mac-change.sh       /bin/mac-change.sh
ln      --    y     /bin/gentagdb.sh         /bin/gentagdb.sh
ln      --    y     /bin/initx.sh            /bin/initx.sh

